body {
  font-family: Verdana;
  background-image: linear-gradient(45deg, #9370DB, #DDA0DD);
}
div {background-color: #6A5ACD;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     padding: 50px;
     border-radius: 15px;
     color: #DDA0DD;
}
input {padding: 10px;
       border: none;
       outline: none;
       font-size: 12px;
}
button {background-color: #BA55D3;
        border: none;
        padding: 8px;
        width: 100%;
        border-radius: 5px;
        color: white;
        font-family: verdana;
}
button:hover {background-color: 
#8A2BE2}